In [1]:
def find_common_integers(arr1, arr2, arr3):
    p1, p2, p3 = 0, 0, 0
    result = []

    while p1 < len(arr1) and p2 < len(arr2) and p3 < len(arr3):
        if arr1[p1] == arr2[p2] == arr3[p3]:
            result.append(arr1[p1])
            p1 += 1
            p2 += 1
            p3 += 1
        elif arr1[p1] < arr2[p2]:
            p1 += 1
        elif arr2[p2] < arr3[p3]:
            p2 += 1
        else:
            p3 += 1

    return result

In [2]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [1, 2, 5, 7, 9]
arr3 = [1, 3, 4, 5, 8]

print(find_common_integers(arr1, arr2, arr3))

[1, 5]

In [3]:
def find_distinct_integers(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)
    
    result1 = [num for num in nums1 if num not in set2]
    result2 = [num for num in nums2 if num not in set1]

    return [result1, result2]

In [4]:
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]

print(find_distinct_integers(nums1, nums2))

[[1, 3], [4, 6]]

In [5]:
def transpose(matrix):
    transpose = []

    for col in range(len(matrix[0])):
        new_row = []
        for row in range(len(matrix)):
            new_row.append(matrix[row][col])
        transpose.append(new_row)

    return transpose

In [6]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(transpose(matrix))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [7]:
def array_pair_sum(nums):
    nums.sort()
    max_sum = 0

    for i in range(0, len(nums), 2):
        max_sum += nums[i]

    return max_sum

In [8]:
nums = [1, 4, 3, 2]
print(array_pair_sum(nums))

4

In [9]:
def arrangeCoins(n):
    left = 0
    right = n

    while left <= right:
        mid = left + (right - left) // 2
        total_coins = (mid * (mid + 1)) // 2

        if total_coins > n:
            right = mid - 1
        else:
            left = mid + 1

    return right

In [10]:
n = 5
print(arrangeCoins(n))

2

In [11]:
def sortedSquares(nums):
    squares = []

    for num in nums:
        squares.append(num * num)

    squares.sort()

    return squares

In [12]:
nums = [-4, -1, 0, 3, 10]
print(sortedSquares(nums))

[0, 1, 9, 16, 100]

In [13]:
def maxCount(m, n, ops):
    row_min = m
    col_min = n

    for op in ops:
        row_min = min(row_min, op[0])
        col_min = min(col_min, op[1])

    return row_min * col_min

In [14]:
m = 3
n = 3
ops = [[2, 2], [3, 3]]
print(maxCount(m, n, ops))

4

In [15]:
def shuffle(nums, n):
    result = []

    for i in range(n):
        result.append(nums[i])
        result.append(nums[i+n])

    return result

In [16]:
nums = [2, 5, 1, 3, 4, 7]
n = 3
print(shuffle(nums, n))

[2, 3, 5, 4, 1, 7]